* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  font-family: "Raleway", sans-serif;
  color: rgb(10, 10, 10);
  height: 100vh;
}

.location,
.temperature {
  height: 30vh;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Raleway";
}

.temperature {
  flex-direction: column;
}

.degree-section {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.degree-section span {
  margin: 10px;
  font-size: 30px;
  font-family: "Raleway";
}

.degree-section h2 {
  font-size: 35px;
  font-family: "Raleway";
}

.header-div {
  background-image: linear-gradient(to top, #c1b2e4 0%, #fbc2eb 100%);
}

.header {
  height: 15vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  font-family: "Raleway";
}

.location-timezone {
  font-family: "Raleway", sans-serif;
}
